/* contacto */

.contacto{
	font-family: 'Space Mono', monospace;
	font-size: 2rem;
	color: #49479D;
}

.formulario{
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2rem;
	color: #49479D
}

.comentarios{
	width: 200px;
	height: 280px;
	padding: 10px 10px 10px 10px;
	background-color:#F2D7DD;
	border: none;
}