/* store */

.imgStore{
	width: 250px;
	height: 250px;
}
.seccionProducto{
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
	color: #E5D1E6;
}

.nombreProducto{
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3rem;
	color: #49479D;
}

.precioProducto{
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5rem;
	color: #49479D;
}

#store {
	display: grid;
	grid-template-columns: repeat(4,250px); 
	grid-column-gap: 50px;
	grid-template-rows: repeat(3,300px);
	grid-row-gap: 50px;
	grid-template-areas:
     "uno dos tres cuatro";
	align-content: center;
	padding: 50px 00px 50px 150px;
}

@media only screen and (max-width: 864px) {
    #store{
    display: grid;
	grid-template-columns: repeat(2,200px); 
	grid-column-gap: 50px;
	grid-template-rows: repeat(6,250px);
	grid-row-gap: 20px;
	grid-template-areas:
     "uno dos";
    padding: 50px 00px 50px 00px;
    justify-content: center;
    }

    .imgStore{
	width: 200px;
	height: 200px;
	}
}

@media only screen and (max-width: 320px) {
    #store{
    display: grid;
	grid-template-columns: repeat(2,100px); 
	grid-column-gap: 50px;
	grid-template-rows: repeat(6,150px);
	grid-row-gap: 20px;
	grid-template-areas:
     "uno dos";
    padding: 50px 00px 50px 50px;
    }

    .imgStore{
	width: 100px;
	height: 100px;
	}
}